@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Inter:wght@400;600;700&family=Montserrat:wght@400;500;600;700&family=Sacramento&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  .downloadBtn {
    @apply text-[32px] p-[3px] rounded-md bg-white text-gray-900 hover:bg-green-600 hover:text-white transition-all ease-in-out
  }

  .textField {
    @apply p-2 indent-2 outline-none border-[5px] border-gray-800 rounded-lg bg-gray-600
  }
}

body {
  background-color: rgb(19, 24, 32);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 480px) {
  .card:nth-child(7n + 1) {
    grid-column: auto/span 2;
    grid-row: auto/span 2;
  }
}